[buildout]
extensions = buildout.dumppickedversions
develop = .
extra-paths =
parts =
  scripts
eggs =
    isi
versions = versions
;newest = false


# update with versions you want to freeze on
[versions]


# update if you want to use specific python (not the one from PATH)
[python]
#executable = /usr/local/bin/python


# it creates appropriate entry_point scripts as defined in eggs setup.py
[scripts]
recipe = zc.recipe.egg
extra-paths = ${buildout:extra-paths}
eggs =
     ${buildout:eggs}
dependent-scripts = true
interpreter = python
