
/* Reset */

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, code, img, 
small, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
text-align:center;
background:#eaf1fe;
color:#7f7f7f;
font-family: Arial, Verdana,  sans-serif ;
font-size: 12px;
font-style: normal;
font-weight: normal;
text-transform: none;
letter-spacing: normal;
line-height: 18px;
}

/* End Reset */



p{
color:#7f7f7f;
font-family: Arial, Verdana,  sans-serif ;
font-size: 12px;
font-style: normal;
font-weight: normal;
text-transform: none;
letter-spacing: normal;
line-height: 18px;
}

h1{
color:#5c5880;
font-family: "Museo 300" , Tahoma, Verdana,  sans-serif ;
font-size: 36px;
font-style: normal;
font-weight: normal;
text-transform: none;
letter-spacing: normal;
line-height: 54px;
}

h2{
color:#5c5880;
font-family: "Museo 300" , Tahoma, Verdana,  sans-serif ;
font-size: 36px;
font-style: normal;
font-weight: normal;
text-transform: none;
letter-spacing: normal;
line-height: 54px;
}

h3{
color:#707379;
font-family: "Museo 300" , Tahoma, Verdana,  sans-serif ;
font-size: 33px;
font-style: normal;
font-weight: normal;
text-transform: none;
letter-spacing: normal;
line-height: 49px;
width:350px;
text-align:center;
float:left;
}

h4{
color:#52575f;
font-family: "Museo 300" , Tahoma, Verdana,  sans-serif ;
font-size: 23px;
font-style: normal;
font-weight: normal;
text-transform: none;
letter-spacing: normal;
line-height: 33px;
}

a:link , a:visited , a:active{
color:#504e66;
font-family: Arial, Verdana,  sans-serif ;
font-size: 12px;
font-style: normal;
font-weight: normal;
text-transform: none;
letter-spacing: normal;
line-height: 18px;
}

a:hover{
color:#00597a;
}

#header{
background: url("../img/light.png") no-repeat top center; 
width:950px;
margin:0 auto;
}

#top{
width:950px;
text-align:left;
overflow:hidden;
}

#top h1{
float:left;
}

#top a{
float:right;
margin-top:44px;
}

#location{
background: url("../img/location_image.png") no-repeat; 
width:786px;
height:270px;
margin:0 auto;
}

#location h2{
font-size:24px;
}

.line{
background: #dae1ee;
height: 1px;
font-size:0px;
margin:10px 0px 36px 0px;
}

#container{
margin-top:50px;
background: url("../img/containerbg.png"); 
}

#content{
width:950px;
margin:0 auto;
text-align:left;
}

#downarrow{
background: url("../img/downarrow.png") no-repeat;
width:20px;
height:14px;
position:absolute;
margin:-2px 0px 0px 470px;
}

.separator{
background: url("../img/separator.png") repeat-x;
height:5px;
font-size:0px;
}

.separator_top_margin{
margin-top:45px;
}

.h3container{
width:950px;
padding:45px 0px 25px 0px;
overflow:hidden;
}

.littleline{
width:300px;
background: #dfdfdf;
height: 1px;
font-size:0px;
float:left;
margin-top:24px;
}

#schema{
background: url("../img/schema.png") no-repeat;
width:707px;
height:652px;
margin:0 auto;
margin-top:38px;
}

#schema p{
color:#3b3948;
font-size:14px;
line-height:21px;
}

#schema strong{
color:#3b3948;
font-size:18px;
line-height:27px;
}

.module{
width:135px;
height:90px;
text-align:center;
position:absolute;
}

#module1{
margin:39px 0px 0px 137px;
}

#module2{
margin:39px 0px 0px 429px;
}

#module3{
margin:238px 0px 0px 560px;
}

#module4{
margin:458px 0px 0px 429px;
}

#module5{
margin:458px 0px 0px 137px;
}

#module6{
margin:238px 0px 0px 12px;
}

#modulesheadline{
width:200px;
text-align:center;
position:absolute;
margin:262px 0px 0px 255px;
}

.threecolumns{
overflow:hidden;
width:950px;
}

.column{
float:left;
width:302px;
}

.colmargin{
margin-left:22px;
}

.threecolumns img{
background: url("../img/picbg.png") no-repeat;
padding:5px 6px 7px 6px;
width:290px;
height:116px;
margin-top:15px;
}

.column h4{
margin-top:45px;
}

.column p{
margin-top:15px;
}

#map{
text-align:center;
padding-top:5px;
width:950px;
height:206px;
background: url("../img/map.png") no-repeat;
margin-top:25px;
}

#partners{
background: url("../img/light2.png") no-repeat top center; 
width:950px;
margin:0 auto;
text-align:left;
}

#reg{
text-align:center;
margin-top:45px;
}

.fourcolumns{
overflow:hidden;
width:950px;
}

.fcolumn{
float:left;
width:200px;
}

.fcolmargin{
margin-left:50px;
}

.fcolumn img{
margin-top:15px;
}

.partnersline{
margin:0px;
margin-top:45px;
}

#footer{
width:950px;
margin:0 auto;
text-align:left;
padding-bottom:50px;
}

.copyright{
text-align:center;
margin-top:45px;
}

ul{
margin-top:12px;
list-style-type:none;
}

li{
margin-bottom:5px;
}

.threecolumnsfoot{
overflow:hidden;
width:950px;
}

.threecolumnsfoot img{
margin: 15px 7px 0px 0px;
}