<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			{{page.content.title}}
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<!--[if IE 6]>
			<script src="js/DD_belatedPNG_0.0.8a.js"></script>
			<script>
			DD_belatedPNG.fix('img, #header, #location, #container, #downarrow, .separator, #schema, .threecolumns img, #map, #partners');
		  

			</script>
		<![endif]-->
	</head>
	<body>
		<div id="header">
			<div id="top">
				<h1><img src="img/isi.png" alt="Isi logo" height="150" width="250" /></h1>
				<a href=""><img src="img/register.png" alt="Register now" height="66" width="257" /></a>
			</div>
			<div class="line"></div>
			<h2>Instituto de Start-Ups e Inversion</h2>			
			<div id="location">
				<h2>March 7th 2012, Spain, Madrid</h2>
			</div>
		</div>
		<div id="container">
			<div class="separator">
			</div>						
			<div id="content">
				<div id="downarrow">
				</div>		
				<div class="h3container">
					<div class="littleline"></div>
					<h3>Who are we</h3>
					<div class="littleline"></div>
				</div>
				<p>
					Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar 
					de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de 
					textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó
					como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación 
					de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo
					Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
				</p>
				<div class="h3container">
					<div class="littleline"></div>
					<h3>Program</h3>
					<div class="littleline"></div>
				</div>				
				<div id="schema">
					<div id="module1" class="module">
						<strong>Module 1</strong>
						<p>Asset Class Easrly stage Investments</p>
					</div>
					<div id="module2" class="module">					
						<strong>Module 2</strong>
						<p>Entrepreneurs and Start-up Businesses</p>
					</div>
					<div id="module3" class="module">					
						<strong>Module 3</strong>
						<p>Investment Proess and Criteria</p>
					</div>
					<div id="module4" class="module">
						<strong>Module 4</strong>
						<p>Due Diligence and Valuation</p>
					</div>
					<div id="module5" class="module">
						<strong>Module 5</strong>
						<p>Term Sheet and Investment Contracts</p>
					</div>
					<div id="module6" class="module">
						<strong>Module 6</strong>
						<p>Deal Closure and Post Investment Phase</p>		
					</div>
					<div id="modulesheadline">
						<h4>
							Investing in Early Stage Companies
						</h4>
					</div>
				</div>
				<div class="threecolumns">
					<div class="column">
						<h4>Module 1</h4>
						<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>
					</div>
					<div class="column colmargin">
						<h4>Module 2</h4>
						<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>						
					</div>
					<div class="column colmargin">
						<h4>Module 3</h4>
						<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>						
					</div>	
					<div class="column">
						<h4>Module 4</h4>
						<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>						
					</div>
					<div class="column colmargin">
						<h4>Module 5</h4>
						<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>						
					</div>
					<div class="column colmargin">
						<h4>Module 6</h4>
						<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>						
					</div>						
				</div>
				<div class="h3container">
					<div class="littleline"></div>
					<h3>Past Events</h3>
					<div class="littleline"></div>
				</div>	
				<p>
					Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar 
					de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de 
					textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó
					como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación 
					de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo
					Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
				</p>	
				<div class="threecolumns">
					<div class="column">				
						<img src="img/pic.gif" alt="picture" height="116" width="290" />
					</div>
					<div class="column colmargin">				
						<img src="img/pic.gif" alt="picture" height="116" width="290" />					
					</div>
					<div class="column colmargin">				
						<img src="img/pic.gif" alt="picture" height="116" width="290" />					
					</div>						
				</div>				
				<div class="h3container">
					<div class="littleline"></div>
					<h3>Event Speackers</h3>
					<div class="littleline"></div>
				</div>	
				<p>
					Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar 
					de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de 
					textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó
					como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación 
					de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo
					Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
				</p>
				<div class="threecolumns">
					<div class="column">
						<h4>John Doe</h4>					
						<img src="img/pic.gif" alt="picture" height="116" width="290" />
						<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>	
					</div>
					<div class="column colmargin">
						<h4>John Doe</h4>					
						<img src="img/pic.gif" alt="picture" height="116" width="290" />					
						<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>						
					</div>
					<div class="column colmargin">
						<h4>John Doe</h4>					
						<img src="img/pic.gif" alt="picture" height="116" width="290" />					
						<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>						
					</div>	
					<div class="column">
						<h4>John Doe</h4>					
						<img src="img/pic.gif" alt="picture" height="116" width="290" />					
						<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>						
					</div>
					<div class="column colmargin">
						<h4>John Doe</h4>					
						<img src="img/pic.gif" alt="picture" height="116" width="290" />				
						<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>						
					</div>
					<div class="column colmargin">
						<h4>John Doe</h4>					
						<img src="img/pic.gif" alt="picture" height="116" width="290" />					
						<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>						
					</div>						
				</div>	
				<div class="h3container">
					<div class="littleline"></div>
					<h3>Location</h3>
					<div class="littleline"></div>
				</div>				
				<div id="map">
					<iframe width="938" height="198" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=spain.madrid&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=60.158465,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=Madrid,+Community+of+Madrid,+Madrid,+Spain&amp;t=m&amp;ll=40.418332,-3.70574&amp;spn=0.012938,0.079908&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>		
				</div>
				<div id="reg">
					<a href="">
						<img src="img/register.png" alt="Register now" height="66" width="257" />
					</a>
				</div>				
			</div>
			<div class="separator separator_top_margin">
			</div>				
		</div>
		<div id="partners">
			<div class="h3container">
				<div class="littleline"></div>
				<h3>Our Parthners</h3>
				<div class="littleline"></div>
			</div>	
				<p>
					Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar 
					de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de 
				</p>
	
				<div class="fourcolumns">
					<div class="fcolumn">				
						<a href="#"><img src="img/sponsor.png" alt="picture" height="120" width="200" /></a>
					</div>
					<div class="fcolumn fcolmargin">				
						<a href="#"><img src="img/sponsor.png" alt="picture" height="120" width="200" /></a>									
					</div>
					<div class="fcolumn fcolmargin">					
						<a href="#"><img src="img/sponsor.png" alt="picture" height="120" width="200" /></a>											
					</div>
					<div class="fcolumn fcolmargin">					
						<a href="#"><img src="img/sponsor.png" alt="picture" height="120" width="200" /></a>									
					</div>											
				</div>
				<div class="line partnersline"></div>
		</div>
		<div id="footer">
			<div class="threecolumnsfoot">
				<div class="column">
					<h4>Contact Us</h4>
					<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>
					<p>Email: <a href="mailto:#">institutodestartup@gmail.com</a></p>
					<p>Address: New York Plaza, 10004</p>					
				</div>
				<div class="column colmargin">
					<h4>Social Networks</h4>
					<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>	
					<a href=""><img src="img/faceb.png" alt="facebook" height="24" width="24" /></a>
					<a href=""><img src="img/twit.png" alt="twitter" height="24" width="24" /></a>					
				</div>
				<div class="column colmargin">
					<h4>Links</h4>
					<ul>
						<li><a href="#">Some related Lorem Ipsum site </a></li>
						<li><a href="#">Some related site</a></li>	
						<li><a href="#">Some related site</a></li>	
						<li><a href="#">Some related site</a></li>						
				    </ul>
				</div>						
			</div>	
			<p class="copyright">&copy; 2012 Instituto de Start-Ups e Inversion</p>
		</div>
	</body>
</html>