<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			{{title}}
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<meta name="google-site-verification"
		content="YbmfQfP-aqnK6yIzNAEnmQvHZZRzHyn7fkTvNRSx6Sk" />
		<!--[if IE 6]>
			<script src="js/DD_belatedPNG_0.0.8a.js"></script>
			<script>
			DD_belatedPNG.fix('img, #header, #location, #container, #downarrow, .separator, #schema, .threecolumns img, #map, #partners');
		  

			</script>
		<![endif]-->
	</head>
	<body>
		<div id="header">
			<div id="top">
				<h1><img src="img/isi.png" alt="Isi logo" height="150" width="250" /></h1>
				<a href="{{registration_url}}" class="button"><span>Registrarse ahora</span></a>
			</div>
			<div class="line"></div>
			<h2>{{title}}</h2>
			<div id="location">
				<h2>{{date}}, {{location}}</h2>
			</div>
		</div>
		<div id="container">
			<div class="separator">
			</div>						
			<div id="content">
				<div id="downarrow">
				</div>		
				<div class="h3container">
					<div class="littleline"></div>
					<h3>{{sections.about.title}}</h3>
					<div class="littleline"></div>
				</div>
				<p>{{sections.about.content}}</p>
                {% with modules = sections.program.modules %}
				<div class="h3container">
					<div class="littleline"></div>
					<h3>{{sections.program.title}}</h3>
					<div class="littleline"></div>
				</div>				
				<div id="schema">
					<div id="module1" class="module">
						<strong>{{modules[0].name}}</strong>
						<p>{{modules[0].title}}</p>
					</div>
					<div id="module2" class="module">					
                        <strong>{{modules[1].name}}</strong>
                        <p>{{modules[1].title}}</p>
					</div>
					<div id="module3" class="module">					
                        <strong>{{modules[2].name}}</strong>
                        <p>{{modules[2].title}}</p>
					</div>
					<div id="module4" class="module">
                        <strong>{{modules[3].name}}</strong>
                        <p>{{modules[3].title}}</p>
					</div>
					<div id="module5" class="module">
                        <strong>{{modules[4].name}}</strong>
                        <p>{{modules[4].title}}</p>
					</div>
					<div id="module6" class="module">
                        <strong>{{modules[5].name}}</strong>
                        <p>{{modules[5].title}}</p>
					</div>
					<div id="modulesheadline">
						<h4>
                            {{sections.program.subtitle}}
						</h4>
					</div>
				</div>
				<div class="threecolumns">
					<div class="column">
						<h4>{{modules[0].name}}</h4>
						<p>{{modules[0].brief}}</p>
					</div>
					<div class="column colmargin">
                        <h4>{{modules[1].name}}</h4>
                        <p>{{modules[1].brief}}</p>
					</div>
					<div class="column colmargin">
                        <h4>{{modules[2].name}}</h4>
                        <p>{{modules[2].brief}}</p>
					</div>	
					<div class="column">
                        <h4>{{modules[3].name}}</h4>
                        <p>{{modules[3].brief}}</p>
					</div>
					<div class="column colmargin">
                        <h4>{{modules[4].name}}</h4>
                        <p>{{modules[4].brief}}</p>
					</div>
					<div class="column colmargin">
                        <h4>{{modules[5].name}}</h4>
                        <p>{{modules[5].brief}}</p>
					</div>						
				</div>
                {% endwith %}
				<!-- div class="h3container">
					<div class="littleline"></div>
					<h3>{{sections.past.title}}</h3>
					<div class="littleline"></div>
				</div>	
				<p>{{sections.past.content}}</p>
				<div class="threecolumns">
                    {% for image in sections.past.images %}
					<div class="column {% if loop.index0 is not divisibleby 3 %}colmargin{% endif %}">
						<img src="{{image}}" alt="picture" height="116" width="290" />
					</div>
                    {% endfor %}
				</div -->
				<div class="h3container">
					<div class="littleline"></div>
					<h3>{{sections.speakers.title}}</h3>
					<div class="littleline"></div>
				</div>	
				<p>{{sections.speakers.content}}
				</p>
				<div class="threecolumns">
                    {% for speaker in sections.speakers.speakers %}
					<div class="column {% if loop.index0 is not divisibleby 3 %}colmargin{% endif %}">
						<h4>{{speaker.name}}</h4>
						<img src="{{speaker.image}}" alt="{{ speaker.name }}" />
						<p>{{speaker.brief}}</p>
					</div>
                    {% endfor %}
				</div>
				<div class="h3container">
					<div class="littleline"></div>
					<h3>{{sections.location.title}}</h3>
					<div class="littleline"></div>
				</div>				
                    <p>{{sections.location.content}}</p>
				<div id="map">
					<iframe width="938" height="198" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{sections.location.mapurl|safe}}"></iframe>
				</div>
				<div id="reg">
					<a href="{{registration_url}}" class="button"><span>Registrarse ahora</span></a>
				</div>				
			</div>
			<div class="separator separator_top_margin">
			</div>				
		</div>
		<div id="partners">
			<div class="h3container">
				<div class="littleline"></div>
				<h3>{{sections.partners.title}}</h3>
				<div class="littleline"></div>
			</div>	
				<p>{{sections.partners.content}}</p>
	
				<div class="fourcolumns">
                    {% for partner in sections.partners.partners %}
					<div class="fcolumn {% if loop.index0 is not divisibleby 4 %}fcolmargin{% endif %}">
						<a href="{{partner.url}}"><img src="{{partner.img}}" alt="picture" /></a>
					</div>
                    {% endfor %}
				</div>
				<div class="line partnersline"></div>
		</div>
		<div id="footer">
			<div class="threecolumnsfoot">
				<div class="column">
					<h4>{{sections.contact.title}}</h4>
					<p>{{sections.contact.content}}</p>
					<p>Email: <a href="mailto:#">{{sections.contact.email}}</a></p>
					<p>Address: {{sections.contact.address}}</p>
				</div>
				<div class="column colmargin">
					<h4>{{sections.social.title}}</h4>
					<p>{{sections.social.content}}</p>
					<!-- a href="{{sections.social.facebook}}"><img src="img/faceb.png" alt="facebook" height="24" width="24" /></a -->
					<a href="{{sections.social.twitter}}"><img src="img/twit.png" alt="twitter" height="24" width="24" /></a>
				</div>
				<div class="column colmargin">
					<h4>{{sections.links.title}}</h4>
					<ul>
                        {% for link in sections.links.list %}
						<li><a href="{{ link.url }}">{{link.title}}</a></li>
                        {% endfor %}
				    </ul>
				</div>						
			</div>	
			<p class="copyright">{{copyright|safe}}</p>
		</div>
	</body>
</html>
